@import "./style.css";

html,
body {
    height: 100%;
}

body {
    gap: 0;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1vw;
    gap: 1vw;
}

.column {
    flex: 1 1 35%;
    background-color: rgb(var(--accent-color-1));
}

.column:nth-child(1) {
    filter: brightness(80%);
}

.column:nth-child(2) {
    filter: brightness(90%);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.images-section {
    flex: 1 1 30%;
}

.column:not(.images-section) > p {
    width: 80%;
    font-size: 1rem;
}

.images-section > img {
    width: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}
