@import "./style.css";

html,
body {
    height: 100%;
}

body {
    gap: 0;
}

.main-container {
    display: flex;
    padding: 1vw;
    gap: 1vw;
}

.column {
    border-radius: 5px;
    flex: 1 1 35%;
    background-color: rgb(var(--accent-color-1));
}

.column:nth-child(1) {
    filter: brightness(80%);
}

.column:nth-child(2) {
    filter: brightness(90%);
}

.column {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.images-section {
    flex: 1 1 30%;
    justify-content: space-evenly;
}

.column:not(.images-section) > p {
    max-width: 35ch;
    font-size: 1rem;
}

.images-section > img {
    width: max(50%, 10rem);
    aspect-ratio: 1;
    object-fit: cover;
}
